@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    overflow-x: hidden !important;
}

.theme-color {
    color: #85193C;
}

.btn-gradient-custom {
  background-image: linear-gradient(to right, #85193C, #b51f50);
  color: white;
  padding: 1rem 2rem;
  font-size: 1.125rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: all 0.3s ease;
}

.btn-gradient-custom:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}
